<div class="app-note__component">
  <div class="app-note__buttons">
    <button mat-icon-button (click)="editNote()">
      <ng-container *ngIf="editable;else edit">
        <mat-icon>done</mat-icon>
      </ng-container>
      <ng-template #edit>
        <mat-icon>create</mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button *ngIf='editable' (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="app-note__text">
    <textarea matInput cdkTextareaAutosize
              cdkAutosizeMinRows="2" [disabled]="!editable">{{text}}</textarea>
  </div>
</div>
